#################################################################
#Write files or folders those you want to ignore.
#For example to ignore vendor folder below is example
#/vendor
#################################################################

/woocommerce